.recipientList {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem; // 카드 간격
  margin: 1rem;
  overflow-x: auto; // 모바일에서 가로 스크롤 활성화

  // 화살표 버튼 스타일
  .arrowButton {
    background-color: #fff; // 배경색, 수정 가능
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    &.left {
      left: 0;
    }

    &.right {
      right: 0;
    }
  }
}

// 화면 크기에 따른 스타일 조정
@media (min-width: 768px) {
  .recipientList {
    justify-content: center;

    // 화살표 버튼 화면 중앙에 위치
    .arrowButton {
      top: calc(50% - 20px); // 버튼 크기에 따라 조절 가능
    }
  }
}
