.colorOption {
  display: grid;
  grid-template-columns: repeat(4, 10.5rem);
  gap: 1rem;
  height: 45rem;
  width: 10.5rem;
}

.colorPalette {
  width: 10.5rem;
  height: 10.5rem;
}

.beige {
  background-color: var(-orange200);
}

.purple {
  background-color: var(--purple200);
}

.blue {
  background-color: var(-blue200);
}

.green {
  background-color: var(-green200);
}

.button {
  img {
    width: 2.75rem;
    height: 2.75rem;
  }
}
