// search scss
.searchContainer {
  position: relative;
}

.searchBox {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 2rem;
  left: 2rem;
  gap: 2rem;

  .inputBox {
    margin-left: 1rem;
    padding: 0.5rem;
    width: 30rem;
    height: 2rem;
    border: none;
    border-bottom: 2px solid var(--purple600);
    color: var(--grayscale900);
    font-size: 1.25rem;

    &:focus {
      outline: none;
    }
  }

  .cardList {
    display: flex;
    max-width: 52rem;
    padding: 0 1rem;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 10px;
  }
}
