.family-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 41px;
    height: 20px;
    padding: 0px 8px;
    border-radius: 4px;
    background: rgba(228, 251, 220, 1);
}

.family-text {
    width: 25px;
    height: 20px;
    font-family: Pretendard;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.005em;
    text-align: center;
    color: rgba(43, 166, 0, 1);
}
