.container {
  width: 24rem;
  height: 17.5rem;
  padding: 1.75rem 1.5rem 1.5rem 1.5rem;
  flex-shrink: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 1rem;
  background: var(--white);
  box-shadow: 0rem 0.125rem 0.75rem 0rem rgba(0, 0, 0, 0.08);
  border: none;
  cursor: pointer;

  .underline {
    width: 21rem;
    height: 0.0625rem;
    background: var(--grayscale200);
  }

  .text {
    width: 21rem;
    height: 6.625rem;
    flex-shrink: 0;
    overflow: hidden;
    text-align: start;
    color: var(--grayscale600, #4a4a4a);
    text-overflow: ellipsis;
    white-space: nowrap;
    /* Font/18 Regular */
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem; /* 155.556% */
    letter-spacing: -0.0112rem;
  }
  .date {
    color: var(--grayscale400, #999);
    /* Font/12 Regular */
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.125rem; /* 150% */
    letter-spacing: -0.0037rem;
  }
}
